@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-bricolage);
}
@keyframes pulse {
  0%,
  100% {
    transform: scale(0.8);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(16px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide {
  animation: slide 25s linear infinite;
}
/*** RE-USABLES ***/
.button {
  @apply flex items-center gap-2 bg-yellow-400 text-black px-4 md:px-12 font-bold rounded-md py-2 md:py-3 hover:bg-yellow-400/80 transition-all delay-[50ms] text-xs md:text-base;
}
.button-with-no-logo {
  @apply cursor-pointer hover:bg-gray-100 transition-all duration-150 rounded-lg py-1 px-8;
}
/*** LEARN ***/
.learn-item {
  @apply relative flex flex-col  justify-center gap-2 w-full border-r-8 border-b-8 border-gray-200/40 bg-white shadow-lg p-6 rounded-2xl border border-gray-200 hover:scale-[1.03] transition-all duration-300;
}
.learn-number {
  @apply text-center w-8 h-8 bg-yellow-200 rounded-full text-black flex items-center justify-center absolute -top-3 -left-2 rotate-6 font-bold text-xl;
}
.learn-text {
  @apply font-semibold text-base md:text-lg;
}
/*** NAVIGATION ***/
.nav-link {
  @apply border-b border-b-transparent hover:border-b-black transition-all delay-[50ms] hover:text-gray-500;
}
